.ContactListItem{
    display: flex;
    border: 1.5px solid black;
    justify-content: space-between;
    padding: 5px;
    min-width: 250px;
    align-items: center;
    border-radius: 5px;
}

.outeruserInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: left;
}

.userInfoContainer{
    display: flex;
    gap: 10px;
}

.icon{
    height: 17px;
    width: 17px;
}

.deleteBtn{
    border-radius: 2px;
    border: 1.5px solid grey;
    padding: 2.5px 5px;
}